In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats 
import re
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score
from imblearn.over_sampling import SMOTE
from sklearn.cluster import KMeans

In [5]:
df= pd.read_excel("E:\Data_mites_projects\Employee Performance Analysis\INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls")
df.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [6]:
df.shape

(1200, 28)

In [7]:
df=df.drop_duplicates()

In [9]:
df.shape

(1200, 28)

In [10]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'EmpNumber': ['E1001000' 'E1001006' 'E1001007' ... 'E100994' 'E100995' 'E100998']
Unique values in column 'Age': [32 47 40 41 60 27 50 28 36 38 44 30 29 42 34 39 56 53 35 52 33 25 45 23
 26 54 37 24 49 55 43 51 22 31 58 20 21 48 19 18 59 46 57]
Unique values in column 'Gender': ['Male' 'Female']
Unique values in column 'EducationBackground': ['Marketing' 'Life Sciences' 'Human Resources' 'Medical' 'Other'
 'Technical Degree']
Unique values in column 'MaritalStatus': ['Single' 'Married' 'Divorced']
Unique values in column 'EmpDepartment': ['Sales' 'Human Resources' 'Development' 'Data Science'
 'Research & Development' 'Finance']
Unique values in column 'EmpJobRole': ['Sales Executive' 'Manager' 'Developer' 'Sales Representative'
 'Human Resources' 'Senior Developer' 'Data Scientist'
 'Senior Manager R&D' 'Laboratory Technician' 'Manufacturing Director'
 'Research Scientist' 'Healthcare Representative' 'Research Director'
 'Manager R&D' 'Finance Manager' 'Technical Architect' 'Business Analyst'
 'Technical Lead' 'Delivery Manager']
Unique values in column 'BusinessTravelFrequency': ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Unique values in column 'DistanceFromHome': [10 14  5 16  8  1 24  3 27 19  9  2  7  6 26 11 23 13 29 12  4 25 21 18
 20 17 22 28 15]
Unique values in column 'EmpEducationLevel': [3 4 2 5 1]
Unique values in column 'EmpEnvironmentSatisfaction': [4 2 1 3]
Unique values in column 'EmpHourlyRate': [ 55  42  48  73  84  32  54  67  63  81  49  99  57  96  44  86  83  61
  80  31  46  79  77  60  76  41  71  66  38  72  95  82  75  93  64  36
  69  33  35  40  43  51  52  98  45  37  94  59  88  50  65  53  56  78
  74  91  62  87  68  34  70 100  92  39  97  47  90  85  30  58  89]
Unique values in column 'EmpJobInvolvement': [3 2 1 4]
Unique values in column 'EmpJobLevel': [2 3 5 1 4]
Unique values in column 'EmpJobSatisfaction': [4 1 2 3]
Unique values in column 'NumCompaniesWorked': [1 2 5 3 8 7 9 4 6 0]
Unique values in column 'OverTime': ['No' 'Yes']
Unique values in column 'EmpLastSalaryHikePercent': [12 21 15 14 13 23 11 20 19 17 18 22 16 24 25]
Unique values in column 'EmpRelationshipSatisfaction': [4 3 2 1]
Unique values in column 'TotalWorkExperienceInYears': [10 20 23  9  4 28  1  7 12 30  5  2 19 16 34  6  8 11 17  3 14 26 13 22
  0 29 18 35 33 31 24 15 32 21 27 25 36 37 38 40]
Unique values in column 'TrainingTimesLastYear': [2 1 4 5 6 3 0]
Unique values in column 'EmpWorkLifeBalance': [2 3 4 1]
Unique values in column 'ExperienceYearsAtThisCompany': [10  7 18 21  2  9  8  1  5 22  4  0 34  6 15  3 13 26 20 12 31 16 11 14
 17 19 32 24 33 29 25 36 30 23 27 37 40]
Unique values in column 'ExperienceYearsInCurrentRole': [ 7 13  6  2  0  1  3  8  9  5  4 14 12 10 16 11 15 17 18]
Unique values in column 'YearsSinceLastPromotion': [ 0  1 12  2  3 11  7  4  5 14  8 15  6 10 13  9]
Unique values in column 'YearsWithCurrManager': [ 8  7 12  6  2  5  0  4 13  3  1 16  9 17 11 10 14 15]
Unique values in column 'Attrition': ['No' 'Yes']
Unique values in column 'PerformanceRating': [3 4 2]

In [11]:
column = df.columns 
for i in column:
    print(df.dtypes[i])

object
int64
object
object
object
object
object
object
int64
int64
int64
int64
int64
int64
int64
int64
object
int64
int64
int64
int64
int64
int64
int64
int64
int64
object
int64

In [12]:
#Checking for null values
df.isnull().sum()

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

In [13]:
data=df.copy()

isnull() for Standard Missing Values:

Identifies standard representations of missing values such as NaN, None, and null.
Custom Missing Value Check:

Searches for additional placeholders for missing values (e.g., "NA", "N/A", "null", " ").
Combine Results:

Combines the counts of standard and custom missing values to calculate the total missing count.
Output:

Displays a summary showing the count of missing values (both standard and additional) for each column.

In [14]:

def check_missing_values(data):
    # Standard missing values
    missing_count = data.isnull().sum()
    
    # Check for other representations of missing values
    other_missing_values = ["", " ", "NA", "N/A", "n/a", "null", "NULL", "NaN", "nan", "-", "--"]
    
    additional_missing = pd.DataFrame({
        col: data[col].apply(lambda x: x in other_missing_values).sum()
        for col in data.columns
    }, index=["Other Missing Count"]).T
    
    # Combine both checks
    total_missing = pd.DataFrame({
        "Standard Missing Count": missing_count,
        "Other Missing Count": additional_missing["Other Missing Count"],
        "Total Missing Count": missing_count + additional_missing["Other Missing Count"]
    })
    
    print("Summary of Missing Values:")
    print(total_missing)
    return total_missing

# Call the function on your dataset
missing_summary = check_missing_values(data)

Summary of Missing Values:
                              Standard Missing Count  Other Missing Count  \
EmpNumber                                          0                    0
Age                                                0                    0
Gender                                             0                    0
EducationBackground                                0                    0
MaritalStatus                                      0                    0
EmpDepartment                                      0                    0
EmpJobRole                                         0                    0
BusinessTravelFrequency                            0                    0
DistanceFromHome                                   0                    0
EmpEducationLevel                                  0                    0
EmpEnvironmentSatisfaction                         0                    0
EmpHourlyRate                                      0                    0
EmpJobInvolvement                                  0                    0
EmpJobLevel                                        0                    0
EmpJobSatisfaction                                 0                    0
NumCompaniesWorked                                 0                    0
OverTime                                           0                    0
EmpLastSalaryHikePercent                           0                    0
EmpRelationshipSatisfaction                        0                    0
TotalWorkExperienceInYears                         0                    0
TrainingTimesLastYear                              0                    0
EmpWorkLifeBalance                                 0                    0
ExperienceYearsAtThisCompany                       0                    0
ExperienceYearsInCurrentRole                       0                    0
YearsSinceLastPromotion                            0                    0
YearsWithCurrManager                               0                    0
Attrition                                          0                    0
PerformanceRating                                  0                    0

                              Total Missing Count
EmpNumber                                       0
Age                                             0
Gender                                          0
EducationBackground                             0
MaritalStatus                                   0
EmpDepartment                                   0
EmpJobRole                                      0
BusinessTravelFrequency                         0
DistanceFromHome                                0
EmpEducationLevel                               0
EmpEnvironmentSatisfaction                      0
EmpHourlyRate                                   0
EmpJobInvolvement                               0
EmpJobLevel                                     0
EmpJobSatisfaction                              0
NumCompaniesWorked                              0
OverTime                                        0
EmpLastSalaryHikePercent                        0
EmpRelationshipSatisfaction                     0
TotalWorkExperienceInYears                      0
TrainingTimesLastYear                           0
EmpWorkLifeBalance                              0
ExperienceYearsAtThisCompany                    0
ExperienceYearsInCurrentRole                    0
YearsSinceLastPromotion                         0
YearsWithCurrManager                            0
Attrition                                       0
PerformanceRating                               0

In [15]:
data.nunique()

EmpNumber                       1200
Age                               43
Gender                             2
EducationBackground                6
MaritalStatus                      3
EmpDepartment                      6
EmpJobRole                        19
BusinessTravelFrequency            3
DistanceFromHome                  29
EmpEducationLevel                  5
EmpEnvironmentSatisfaction         4
EmpHourlyRate                     71
EmpJobInvolvement                  4
EmpJobLevel                        5
EmpJobSatisfaction                 4
NumCompaniesWorked                10
OverTime                           2
EmpLastSalaryHikePercent          15
EmpRelationshipSatisfaction        4
TotalWorkExperienceInYears        40
TrainingTimesLastYear              7
EmpWorkLifeBalance                 4
ExperienceYearsAtThisCompany      37
ExperienceYearsInCurrentRole      19
YearsSinceLastPromotion           16
YearsWithCurrManager              18
Attrition                          2
PerformanceRating                  3
dtype: int64

In [16]:
print(data.describe(include='all'))  # Summary of numeric and categorical data

       EmpNumber          Age Gender EducationBackground MaritalStatus  \
count       1200  1200.000000   1200                1200          1200
unique      1200          NaN      2                   6             3
top     E1001000          NaN   Male       Life Sciences       Married
freq           1          NaN    725                 492           548
mean         NaN    36.918333    NaN                 NaN           NaN
std          NaN     9.087289    NaN                 NaN           NaN
min          NaN    18.000000    NaN                 NaN           NaN
25%          NaN    30.000000    NaN                 NaN           NaN
50%          NaN    36.000000    NaN                 NaN           NaN
75%          NaN    43.000000    NaN                 NaN           NaN
max          NaN    60.000000    NaN                 NaN           NaN

       EmpDepartment       EmpJobRole BusinessTravelFrequency  \
count           1200             1200                    1200
unique             6               19                       3
top            Sales  Sales Executive           Travel_Rarely
freq             373              270                     846
mean             NaN              NaN                     NaN
std              NaN              NaN                     NaN
min              NaN              NaN                     NaN
25%              NaN              NaN                     NaN
50%              NaN              NaN                     NaN
75%              NaN              NaN                     NaN
max              NaN              NaN                     NaN

        DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
count        1200.000000         1200.00000  ...                  1200.000000
unique               NaN                NaN  ...                          NaN
top                  NaN                NaN  ...                          NaN
freq                 NaN                NaN  ...                          NaN
mean            9.165833            2.89250  ...                     2.725000
std             8.176636            1.04412  ...                     1.075642
min             1.000000            1.00000  ...                     1.000000
25%             2.000000            2.00000  ...                     2.000000
50%             7.000000            3.00000  ...                     3.000000
75%            14.000000            4.00000  ...                     4.000000
max            29.000000            5.00000  ...                     4.000000

        TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
count                  1200.000000            1200.000000         1200.000000
unique                         NaN                    NaN                 NaN
top                            NaN                    NaN                 NaN
freq                           NaN                    NaN                 NaN
mean                     11.330000               2.785833            2.744167
std                       7.797228               1.263446            0.699374
min                       0.000000               0.000000            1.000000
25%                       6.000000               2.000000            2.000000
50%                      10.000000               3.000000            3.000000
75%                      15.000000               3.000000            3.000000
max                      40.000000               6.000000            4.000000

        ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
count                    1200.000000                   1200.000000
unique                           NaN                           NaN
top                              NaN                           NaN
freq                             NaN                           NaN
mean                        7.077500                      4.291667
std                         6.236899                      3.613744
min                         0.000000                      0.000000
25%                         3.000000                      2.000000
50%                         5.000000                      3.000000
75%                        10.000000                      7.000000
max                        40.000000                     18.000000

       YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
count              1200.000000           1200.000000       1200
unique                     NaN                   NaN          2
top                        NaN                   NaN         No
freq                       NaN                   NaN       1022
mean                  2.194167              4.105000        NaN
std                   3.221560              3.541576        NaN
min                   0.000000              0.000000        NaN
25%                   0.000000              2.000000        NaN
50%                   1.000000              3.000000        NaN
75%                   3.000000              7.000000        NaN
max                  15.000000             17.000000        NaN

        PerformanceRating
count         1200.000000
unique                NaN
top                   NaN
freq                  NaN
mean             2.948333
std              0.518866
min              2.000000
25%              3.000000
50%              3.000000
75%              3.000000
max              4.000000

[11 rows x 28 columns]