In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats 
import re

In [2]:
df= pd.read_csv("E:\Data_mites_projects\PRCL-0017 Customer Churn Business case\customer_chrun.csv")
df.head()

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [3]:
df.shape

(4617, 21)

In [4]:
# Define the new column names
new_columns = [
    "State",
    "Account Length",
    "Area Code",
    "Phone",
    "International Plan",
    "VMail Plan",
    "VMail Message",
    "Day Mins",
    "Day Calls",
    "Day Charge",
    "Eve Mins",
    "Eve Calls",
    "Eve Charge",
    "Night Mins",
    "Night Calls",
    "Night Charge",
    "International Mins",
    "International Calls",
    "International Charge",
    "CustServ Calls",
    "Churn"
]

# Replace the column names
df.columns = new_columns

In [5]:
df.head()

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International Calls,International Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [6]:
df=df.drop_duplicates()
df.shape

(4617, 21)

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

NO duplicates where found so nothing was removed

In [8]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'State': ['KS' 'OH' 'NJ' 'OK' 'AL' 'MA' 'MO' 'LA' 'WV' 'IN' 'RI' 'IA' 'MT' 'NY'
 'ID' 'VT' 'VA' 'TX' 'FL' 'CO' 'AZ' 'SC' 'NE' 'WY' 'HI' 'IL' 'NH' 'GA'
 'AK' 'MD' 'AR' 'WI' 'OR' 'MI' 'DE' 'UT' 'CA' 'MN' 'SD' 'NC' 'WA' 'NM'
 'NV' 'DC' 'KY' 'ME' 'MS' 'TN' 'PA' 'CT' 'ND']
Unique values in column 'Account Length': [128 107 137  84  75 118 121 147 117 141  65  74 168  95  62 161  85  93
  76  73  77 130 111 132 174  57  54  20  49 142 172  12  72  36  78 136
 149  98 135  34 160  64  59 119  97  52  60  10  96  87  81  68 125 116
  38  40  43 113 126 150 138 162  90  50  82 144  46  70  55 106  94 155
  80 104  99 120 108 122 157 103  63 112  41 193  61  92 131 163  91 127
 110 140  83 145  56 151 139   6 115 146 185 148  32  25 179  67  19 170
 164  51 208  53 105  66  86  35  88 123  45 100 215  22  33 114  24 101
 143  48  71 167  89 199 166 158 196 209  16  39 173 129  44  79  31 124
  37 159 194 154  21 133 224  58  11 109 102 165  18  30 176  47 190 152
  26  69 186 171  28 153 169  13  27   3  42 189 156 134 243  23   1 205
 200   5   9 178 181 182 217 177 210  29 180   2  17   7 212 232 192 195
 197 225 184 191 201  15 183 202   8 175   4 188 204 221 187  14 238 216
 222 233]
Unique values in column 'Area Code': [415 408 510]
Unique values in column 'Phone': [' 382-4657' ' 371-7191' ' 358-1921' ... ' 338-4794' ' 355-8388'
 ' 409-6884']
Unique values in column 'International Plan': [' no' ' yes']
Unique values in column 'VMail Plan': [' yes' ' no']
Unique values in column 'VMail Message': [25 26  0 24 37 27 33 39 30 41 28 34 46 29 35 21 32 42 36 22 23 43 31 38
 40 48 18 17 45 16 20 14 19 51 15 11 12 47  8 44 49  4 10 13 50  9  6]
Unique values in column 'Day Mins': [265.1 161.6 243.4 ... 200.5 278.1 127.5]
Unique values in column 'Day Calls': [110 123 114  71 113  98  88  79  97  84 137 127  96  70  67 139  66  90
 117  89 112 103  86  76 115  73 109  95 105 121 118  94  80 128  64 106
 102  85  82  77 120 133 135 108  57  83 129  91  92  74  93 101 146  72
  99 104 125  61 100  87 131  65 124 119  52  68 107  47 116 151 126 122
 111 145  78 136 140 148  81  55  69 158 134 130  63  53  75 141 163  59
 132 138  54  58  62 144 143 147  36  40 150  56  51 165  30  48  60  42
   0  45 160 149 152 142 156  35  49 157  44  50  34  39  46]
Unique values in column 'Day Charge': [45.07 27.47 41.38 ... 34.09 47.28 21.68]
Unique values in column 'Eve Mins': [197.4 195.5 121.2 ... 213.5 303.1 296.1]
Unique values in column 'Eve Calls': [ 99 103 110  88 122 101 108  94  80 111  83 148  71  75  76  97  90  65
  93 121 102  72 112 100  84 109  63 107 115 119 116  92  85  98 118  74
 117  58  96  66  67  62  77 164 126 142  64 104  79  95  86 105  81 113
 106  59  48  82  87 123 114 140 128  60  78 125  91  46 138 129  89 133
 136  57 135 139  51  70 151 137 134  73 152 168  68 120  69 127 132 143
  61 124  42  54 131  52 149  56  37 130  49 146 147  55  12  50 157 155
  45 144  36 156  53 141  44 153 154 150  43   0 145 159 170  47 169]
Unique values in column 'Eve Charge': [16.78 16.62 10.3  ... 14.46 18.15 25.17]
Unique values in column 'Night Mins': [244.7 254.4 162.6 ... 280.3 270.8 124.4]
Unique values in column 'Night Calls': [ 91 103 104  89 121 118  96  90  97 111  94 128 115  99  75 108  74 133
  64  78 105  68 102 148  98 116  71 109 107 135  92  86 127  79  87 129
  57  77  95  54 106  53  67 139  60 100  61  73 113  76 119  88  84  62
 137  72 142 114 126 122  81 123 117  82  80 120 130 134  59 112 132 110
 101 150  69 131  83  93 124 136 125  66 143  58  55  85  56  70  46  42
 152  44 145  50 153  49 175  63 138 154 140 141 146  65  51 151 158 155
 157 147 144 149 166  52  33 156  38  36  48 164  40 168 161 159 160 170
  41  12 165  43]
Unique values in column 'Night Charge': [11.01 11.45  7.32 ... 14.57  4.78  5.6 ]
Unique values in column 'International Mins': [10.  13.7 12.2  6.6 10.1  6.3  7.5  7.1  8.7 11.2 12.7  9.1 12.3 13.1
  5.4 13.8  8.1 13.  10.6  5.7  9.5  7.7 10.3 15.5 14.7 11.1 14.2 12.6
 11.8  8.3 14.5 10.5  9.4 14.6  9.2  3.5  8.5 13.2  7.4  8.8 11.   7.8
  6.8 11.4  9.3  9.7 10.2  8.   5.8 12.1 12.  11.6  8.2  6.2  7.3  6.1
 11.7 15.   9.8 12.4  8.6 10.9 13.9  8.9  7.9  5.3  4.4 12.5 11.3  9.
  9.6 13.3 20.   7.2  6.4 14.1 14.3  6.9 11.5 15.8 12.8 16.2  0.  11.9
  9.9  8.4 10.8 13.4 10.7 17.6  4.7  2.7 13.5 12.9 14.4 10.4  6.7 15.4
  4.5  6.5 15.6  5.9 18.9  7.6  5.   7.  14.  18.  16.  14.8  3.7  2.
  4.8 15.3  6.  13.6 17.2 17.5  5.6 18.2  3.6 16.5  4.6  5.1  4.1 16.3
 14.9 16.4 16.7  1.3 15.2 15.1 15.9  5.5 16.1  4.  16.9  5.2  4.2 15.7
 17.   3.9  3.8  2.2 17.1  4.9 17.9 17.3 18.4 17.8  4.3  2.9  3.1  3.3
  2.6  3.4  1.1 18.3 16.6  2.1  2.4  2.5 18.7 16.8  0.4 19.3 19.2 19.7]
Unique values in column 'International Calls': [ 3  5  7  6  4  2  9 19  1 10 15  8 11  0 12 13 18 14 16 20 17]
Unique values in column 'International Charge': [2.7  3.7  3.29 1.78 2.73 1.7  2.03 1.92 2.35 3.02 3.43 2.46 3.32 3.54
 1.46 3.73 2.19 3.51 2.86 1.54 2.57 2.08 2.78 4.19 3.97 3.   3.83 3.4
 3.19 2.24 3.92 2.84 2.54 3.94 2.48 0.95 2.3  3.56 2.   2.38 2.97 2.11
 1.84 3.08 2.51 2.62 2.75 2.16 1.57 3.27 3.24 3.13 2.21 1.67 1.97 1.65
 3.16 4.05 2.65 3.35 2.32 2.94 3.75 2.4  2.13 1.43 1.19 3.38 3.05 2.43
 2.59 3.59 5.4  1.94 1.73 3.81 3.86 1.86 3.11 4.27 3.46 4.37 0.   3.21
 2.67 2.27 2.92 3.62 2.89 4.75 1.27 0.73 3.65 3.48 3.89 2.81 1.81 4.16
 1.22 1.76 4.21 1.59 5.1  2.05 1.35 1.89 3.78 4.86 4.32 4.   1.   0.54
 1.3  4.13 1.62 3.67 4.64 4.73 1.51 4.91 0.97 4.46 1.24 1.38 1.11 4.4
 4.02 4.43 4.51 0.35 4.1  4.08 4.29 1.49 4.35 1.08 4.56 1.4  1.13 4.24
 4.59 1.05 1.03 0.59 4.62 1.32 4.83 4.67 4.97 4.81 1.16 0.78 0.84 0.89
 0.7  0.92 0.3  4.94 4.48 0.57 0.65 0.68 5.05 4.54 0.11 5.21 5.18 5.32]
Unique values in column 'CustServ Calls': [1 0 2 3 4 5 7 9 6 8]
Unique values in column 'Churn': [' False.' ' True.']

In [9]:
### For phone number column there number where we have different symbols in between it like mobile number then use below formate to remove uncessary stuff.
df['Phone'].str.replace('[Ã¢-zA-z0-9]','')

0        382-4657
1        371-7191
2        358-1921
3        375-9999
4        330-6626
          ...
4612     345-7512
4613     343-6820
4614     338-4794
4615     355-8388
4616     409-6884
Name: Phone, Length: 4617, dtype: object

In [11]:
# Function to extract numeric digits
def extract_numbers(text):
  return re.sub(r'\D', '', text)

# Apply the function to the 'Phone' column
df['Phone']=df['Phone'].apply(extract_numbers)
print(df)

     State  Account Length  Area Code    Phone International Plan VMail Plan  \
0       KS             128        415  3824657                 no        yes
1       OH             107        415  3717191                 no        yes
2       NJ             137        415  3581921                 no         no
3       OH              84        408  3759999                yes         no
4       OK              75        415  3306626                yes         no
...    ...             ...        ...      ...                ...        ...
4612    NY              57        510  3457512                 no        yes
4613    NM             177        408  3436820                 no        yes
4614    VT              67        408  3384794                 no        yes
4615    MI              98        415  3558388                 no        yes
4616    IN             140        415  4096884                 no         no

      VMail Message  Day Mins  Day Calls  Day Charge  ...  Eve Calls  \
0                25     265.1        110       45.07  ...         99
1                26     161.6        123       27.47  ...        103
2                 0     243.4        114       41.38  ...        110
3                 0     299.4         71       50.90  ...         88
4                 0     166.7        113       28.34  ...        122
...             ...       ...        ...         ...  ...        ...
4612             25     144.0         81       24.48  ...        112
4613             29     189.0         91       32.13  ...         96
4614             33     127.5        126       21.68  ...        129
4615             23     168.9         98       28.71  ...        117
4616              0     204.7        100       34.80  ...        107

      Eve Charge  Night Mins  Night Calls  Night Charge  International Mins  \
0          16.78       244.7           91         11.01                10.0
1          16.62       254.4          103         11.45                13.7
2          10.30       162.6          104          7.32                12.2
3           5.26       196.9           89          8.86                 6.6
4          12.61       186.9          121          8.41                10.1
...          ...         ...          ...           ...                 ...
4612       15.91       158.6          122          7.14                 8.5
4613       25.76       163.6          116          7.36                15.7
4614       25.17       200.9           91          9.04                13.0
4615       19.24       165.5           96          7.45                14.3
4616       10.78       202.8          115          9.13                12.1

      International Calls  International Charge  CustServ Calls    Churn
0                       3                  2.70               1   False.
1                       3                  3.70               1   False.
2                       5                  3.29               0   False.
3                       7                  1.78               2   False.
4                       3                  2.73               3   False.
...                   ...                   ...             ...      ...
4612                    6                  2.30               3   False.
4613                    1                  4.24               3   False.
4614                    3                  3.51               1   False.
4615                    3                  3.86               0   False.
4616                    4                  3.27               2   False.

[4617 rows x 21 columns]

In [12]:
df.head

<bound method NDFrame.head of      State  Account Length  Area Code    Phone International Plan VMail Plan  \
0       KS             128        415  3824657                 no        yes
1       OH             107        415  3717191                 no        yes
2       NJ             137        415  3581921                 no         no
3       OH              84        408  3759999                yes         no
4       OK              75        415  3306626                yes         no
...    ...             ...        ...      ...                ...        ...
4612    NY              57        510  3457512                 no        yes
4613    NM             177        408  3436820                 no        yes
4614    VT              67        408  3384794                 no        yes
4615    MI              98        415  3558388                 no        yes
4616    IN             140        415  4096884                 no         no

      VMail Message  Day Mins  Day Calls  Day Charge  ...  Eve Calls  \
0                25     265.1        110       45.07  ...         99
1                26     161.6        123       27.47  ...        103
2                 0     243.4        114       41.38  ...        110
3                 0     299.4         71       50.90  ...         88
4                 0     166.7        113       28.34  ...        122
...             ...       ...        ...         ...  ...        ...
4612             25     144.0         81       24.48  ...        112
4613             29     189.0         91       32.13  ...         96
4614             33     127.5        126       21.68  ...        129
4615             23     168.9         98       28.71  ...        117
4616              0     204.7        100       34.80  ...        107

      Eve Charge  Night Mins  Night Calls  Night Charge  International Mins  \
0          16.78       244.7           91         11.01                10.0
1          16.62       254.4          103         11.45                13.7
2          10.30       162.6          104          7.32                12.2
3           5.26       196.9           89          8.86                 6.6
4          12.61       186.9          121          8.41                10.1
...          ...         ...          ...           ...                 ...
4612       15.91       158.6          122          7.14                 8.5
4613       25.76       163.6          116          7.36                15.7
4614       25.17       200.9           91          9.04                13.0
4615       19.24       165.5           96          7.45                14.3
4616       10.78       202.8          115          9.13                12.1

      International Calls  International Charge  CustServ Calls    Churn
0                       3                  2.70               1   False.
1                       3                  3.70               1   False.
2                       5                  3.29               0   False.
3                       7                  1.78               2   False.
4                       3                  2.73               3   False.
...                   ...                   ...             ...      ...
4612                    6                  2.30               3   False.
4613                    1                  4.24               3   False.
4614                    3                  3.51               1   False.
4615                    3                  3.86               0   False.
4616                    4                  3.27               2   False.

[4617 rows x 21 columns]>

In [13]:
column = df.columns 
for i in column:
    print(df.dtypes[i])

object
int64
int64
object
object
object
int64
float64
int64
float64
float64
int64
float64
float64
int64
float64
float64
int64
float64
int64
object

In [15]:
#Checking for null values
df.isnull().sum()

State                   0
Account Length          0
Area Code               0
Phone                   0
International Plan      0
VMail Plan              0
VMail Message           0
Day Mins                0
Day Calls               0
Day Charge              0
Eve Mins                0
Eve Calls               0
Eve Charge              0
Night Mins              0
Night Calls             0
Night Charge            0
International Mins      0
International Calls     0
International Charge    0
CustServ Calls          0
Churn                   0
dtype: int64

In [17]:
data=df.copy()